{% extends "network/layout.html" %}

{% block body %}
<div class="home_page">

    <h2>Following posts</h2>
    <!-- Displays all the posts --> 
        {% for post in page_obj %}
        <div class="each_post">
            <h4><a href = "{% url 'user_profile' post.author.id %}">{{ post.author }}</a></h4>
            {{ post.content }}
            <h6>{{ post.date }}</h6>
            <h6>Diplay the likes STILL TODO {{ post.likes.count }}</h6>
        </div>
        {% endfor %}

    <!-- The pagination part -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% endif %}
        </ul>

</div>
{% endblock %}