{% extends "network/layout.html" %}

{% block body %}
    <script>
        // Get the CSRF TOKEN
    function getCSRFToken() {
        const csrfCookieName = 'csrftoken';
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(csrfCookieName + '=')) {
                return cookie.substring(csrfCookieName.length + 1);
            }
        }
        return null;
}

        // Like/Unlike a post
        function likePost(post_id){

            fetch(`/like_post/${post_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(),
                },
                credentials: 'same-origin',
            })
            .then(response => response.json())
            .then(data => {
                // Add the like and change the likes number 
                const likeCount = document.getElementById(`like-count-${post_id}`)
                likeCount.innerText = `${data.like_count} Likes`;
                const likeBtn = document.getElementById(`like-btn-${post_id}`)

                // Change the button
                if(data.liked){
                    likeBtn.textContent = 'Unlike'
                } else {
                    likeBtn.textContent = "Like"
                }

            })
            .catch(error => {
                console.error("Error", error);
            });
        }


        // edit the post text
        function changeText(post_id){

            // get the text content
            const postContent = document.getElementById(`post-content-${post_id}`)
            const content = postContent.innerText
            // change into a text area autocompleted with the text
            postContent.innerHTML = `<textarea id='text-area-content-${post_id}'>${content}</textarea>`
            // hide the edit button show save button
            document.getElementById(`save-btn-${post_id}`).hidden = false;
            document.getElementById(`edit-btn-${post_id}`).hidden = true;
        }


        // Save the post
        function editPost(post_id){
            // get the text content and pass it to back-end
            const postContent = document.getElementById(`text-area-content-${post_id}`)
            const postFormat = document.getElementById(`post-content-${post_id}`)
            const content = postContent.value

            fetch(`/edit_post/${post_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(),
                },
                credentials: 'same-origin',

                body: JSON.stringify({'post_data':content})
            })

            .then(response => response.json())
            .then(data => {
                // change the post content in the front-end and hide save show edit button 
                postFormat.innerHTML = data.new_content
                document.getElementById(`save-btn-${post_id}`).hidden = true;
                document.getElementById(`edit-btn-${post_id}`).hidden = false;
            })
            .catch(error => {
                console.error("Error", error);
            });
        }
    </script>


<div class="home_page">
 
    <div class="new_post">
        <!-- Add post -->
        <h2>New post</h2>
        <form action="/" method="post">
            {% csrf_token %}
            {{ post_form }}
            <br>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>


    <!-- Displays all the posts -->
        {% for post in page_obj %}
        <div class="each_post">
            <h4><a href = "{% url 'user_profile' post.author.id %}">{{ post.author }}</a></h4>
            <span id="post-content-{{ post.id }}">{{ post.content }}</span>

            <h6>{{ post.date }}</h6>
            <h6 id="like-count-{{ post.id }}">{{ post.likes.count }} Likes</h6>

            <!-- Like/Unlike section -->

            {% if user.is_authenticated and post.author != user%}

                {% if user in post.likes.all %}
                    <button class="btn btn-primary" id="like-btn-{{ post.id }}" onclick="likePost({{ post.id }})">Unlike</button>
                
                {% else %}
                    <button class="btn btn-primary" id="like-btn-{{ post.id }}" onclick="likePost({{ post.id }})">Like</button>
                {% endif %}
            {% endif %}

            <!-- Edit post section -->

            {% if user.is_authenticated %}
                
                {% if post.author == user %}
                <button class="btn btn-primary" id="save-btn-{{ post.id }}" onclick="editPost({{ post.id }})" hidden="hidden" >Save</button>
                <button class="btn btn-primary" id="edit-btn-{{ post.id }}" onclick="changeText({{ post.id }})">Edit</button>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}


    <!-- The pagination part -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% endif %}
        </ul>

        
</div>
{% endblock %}