{% extends "network/layout.html" %}

{% block body %}
    <script>
    function getCSRFToken() {
        const csrfCookieName = 'csrftoken';
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(csrfCookieName + '=')) {
                return cookie.substring(csrfCookieName.length + 1);
            }
        }
        return null;
}

        // Like/Umlike a post
        function likePost(post_id){
            console.log(post_id)
            fetch(`/like_post/${post_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(),
                },
                credentials: 'same-origin',
            })
            .then(response => response.json())
            .then(data => {
                const likeCount = document.getElementById(`like-count-${post_id}`)
                likeCount.innerText = `${data.like_count} Likes`;
                const likeBtn = document.getElementById(`like-btn-${post_id}`)

                if(data.liked){
                    likeBtn.textContent = 'Unlike'
                } else {
                    likeBtn.textContent = "Like"
                }

            })
            .catch(error => {
                console.error("Error", error);
            });
        }

        // Edit a post
        function editPost(post_id){
            console.log(`edit ${post_id}`)
        }

    </script>






<div class="home_page">
 
    <div class="new_post">
        <!-- Add post -->
        <h2>New post</h2>
        <form action="/" method="post">
            {% csrf_token %}
            {{ post_form }}
            <br>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>


    <!-- Displays all the posts -->
        {% for post in page_obj %}
        <div class="each_post">
            <h4><a href = "{% url 'user_profile' post.author.id %}">{{ post.author }}</a></h4>
            {{ post.content }}
            <h6>{{ post.date }}</h6>
            <h6 id="like-count-{{ post.id }}">{{ post.likes.count }} Likes</h6>

            <!-- Like/Unlike section -->

            {% if user.is_authenticated and post.author != user%}

                {% if user in post.likes.all %}
                    <button class="btn btn-primary" id="like-btn-{{ post.id }}" onclick="likePost({{ post.id }})">Unlike</button>
                
                {% else %}
                    <button class="btn btn-primary" id="like-btn-{{ post.id }}" onclick="likePost({{ post.id }})">Like</button>
                {% endif %}
            {% endif %}

            <!-- Edit post section -->

            {% if user.is_authenticated %}
                
                {% if post.author == user %}
                <button class="btn btn-primary" onclick="editPost({{ post.id }})">Edit</button>
                {% endif %}
            {% endif %}


        </div>
        {% endfor %}



    <!-- The pagination part -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% endif %}
        </ul>

        
</div>
{% endblock %}